<nav class="navbar">
    <div class="nav-logo">
        <i class="pointer fa-solid fa-location-arrow"></i>

        <a href="/begbieinteractions/index.html">
            {{ "Begbie Interactions" | upcase }}
        </a>
    </div>

    <div class="nav-links">
        {% for item in site.data.navigation %}
            <a href="/begbieinteractions{{ item.link }}" {% if page.url == item.link %} class="current" {% endif %}>
                {{ item.name | upcase }}
            </a>
        {% endfor %}
    </div>
</nav>