@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap');

:root {
    --lrb-darkblue: #292633;
    --lrb-white: #ffffff;
    --lrb-lightgray: #f5f6fa;
    --lrb-darkgray: #505153;
    --lrb-blue: #66beff;
    --lrb-purple: #8c56a8;
}

body {
    background-color: var(--lrb-darkblue);
    color: var(--lrb-lightgray);

    font-size: 16px;

    /* padding: 2em; */
}

a {
    color: var(--lrb-lightgray);
    text-decoration: none;
}

h1 {
    font-family: "Tilt Warp", sans-serif;
    font-size: 3em;
}

h2 {
    font-family: "Tilt Warp", sans-serif;
    font-size: 2.5em;
}


/* Classes */

.page-title {
    text-align: center;
    padding-bottom: 1em;
}

.navbar {
    display: flex;
    justify-content: space-between;

    /* height: 3em;*/
    /* background-color: #dddddd;*/
    color: var(--lrb-white);
    align-items: center;

    padding: 2em;
}

.navbar a {
    font-family: "Tilt Warp", sans-serif;
    font-weight: 100!important;
    font-size: 1.7em;
    letter-spacing: 0.1em;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.nav-logo a {
    padding-left: 1em;
}

.nav-links a {
    margin-right: 1.5em;
}

.pointer {
    font-size: 2.5em;
    rotate: -21deg;
    padding-top: 0.2em;
    color: var(--lrb-blue);
}

.current {
    color: var(--lrb-blue);
}


/* Homepage */

.intro {
    height: 40em;
    display: flex;
    /* justify-content: space-between; */

    margin: 5em 0em;
}

.heroicon {
    /* width: 50%; */
}

.intro-content {
    /* max-width: 40%; */

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0em 5em 8em 45dvw;

    background-image: url(../images/heroicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.intro-content * {
    padding: 10px;
}

.intro-content p {
    font-family: "Questrial", sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    line-height: 1.6;
}

/* Portfolio Content */

.portfolio-container {
    display: flex;
    justify-content: center;
}

.portfolio-work {
    max-width: 55em;
    margin: 0 10em;
    
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
}

.portfolio-work li {
    padding: 1em;

    background-color: var(--lrb-darkgray);
}

.work-hero {
    grid-column: 1 / span 2;
}

.item-details {
    display: flex;
    justify-content: space-between;

    font-family: "Tilt Warp", sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    line-height: 1.2;

    padding-bottom: 0.7em;
}

.item-details .date {
    white-space: nowrap;
}

.coverimg {
    width: 100%;
}

.post-title {
    padding: 0.3em 0em;
}

.item p {
    font-family: "Questrial", sans-serif;
    font-weight: 100;
    line-height: 1.2;
}


/* Case Study */

.case-study {
    width: 60%;
    padding: 0 20%;
}

.art-cover {
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: var(--lrb-white);

    margin-bottom: 3em;
}

.art-cover img {
    width: 70%;
}

.case-study h2 {
    padding: 0.5em 0em;
}

.case-study h3 {
    font-family: "Tilt Warp", sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 1.2;

    padding: 0.5em 0em;
    /* padding-left: 1em; */
}

.case-study h4 {
    font-family: "Tilt Warp", sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    line-height: 1.2;

    padding: 0.5em 0em;
    /* padding-left: 2em; */
}

.case-study p {
    font-family: "Questrial", sans-serif;
    font-weight: 100;
    line-height: 1.4;
    font-size: 1.2em;

    padding: 0.5em 0em;
}

.case-study img {
    max-height: 20em;
    max-width: 47%;
    padding-right: 1em;
    padding-bottom: 1em;
}

.img-gallery {
    display: flex;
}

.case-study a {
    text-decoration: underline;
    color: var(--lrb-blue);
}

/* Footer */

footer {
    height: 2em;
    margin-top: 3em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: right;
    align-items: center;

    font-family: "Questrial", sans-serif;
    font-weight: 100;
    font-size: 2em;
}

footer .social-icons * {
    padding: 0.1em;
}

footer h6 {
    font-size: 0.7em;
    margin-left: 1em;
}




/* Responsive */

@media screen and (max-width: 1260px) {
    body {
        font-size: 14px;
    }
    
    .intro, .navbar {
        font-size: 1.1em;
    }


    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: start;
    
        /* height: 3em;*/
        /* background-color: #dddddd;*/
        color: var(--lrb-white);
        align-items: center;
    
        padding: 2em;
    }

    .navbar * {
        padding-bottom: 0.5em;
    }

    .intro-content {    
        padding: 8em 5em 0em 35dvw;
    
        background-image: url(../images/heroicon.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .intro-text {
        padding: 1em;
        background-color: #292633bb;
    }

    .item p, .item h3 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 834px) {
    body {
        font-size: 12px;
    }

    .intro, .navbar {
        font-size: 1.3em;
    }

    .intro {
        height: 30em;
    }
    
    .intro-content {    
        padding: 5em 5em 0em 5em;
    
        background-image: url(../images/heroicon.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .work-item {
        grid-column: 1 / span 2;
    }

    .item p, .item h3 {
        font-size: 1.4em;
    }
}