<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="{{ page.baseurl }}assets/css/reset.css">
        <link rel="stylesheet" href="{{ page.baseurl }}assets/css/styles.css">

        <script src="https://kit.fontawesome.com/852736490e.js" crossorigin="anonymous"></script>
    </head>

    <body>
        {% include navigation.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>